
@{ ViewBag.Title = "Home"; }


<section class="home-section1">
    <div class="container">
        <div class="col-lg-12 col-sm-12 px-0 mx-0 home-section1-text">
            <h4 class="text-uppercase home-section1-h1">Finding a great Personal trainer shouldn't be so hard</h4>
            <h5 class="home-section1-h2">with GETFiT it isn't</h5>
            
            @Html.ActionLink("Start Here", "Register", "Account", null, new { @class = "smooth-scroll btn btn-outline-light mt-4 home-section1-btn1" })
        </div>
    </div>
</section>
<section class="home-section2">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h4 class="home-section2-h1">How GET FiT Works</h4>
            <p class="home-section2-p1">
                GET FiT is the most convenient way to connect you with a local personal trainer. Whether you’re
                looking to simply get healthier or get into a specific fitness activity, we will match you with
                a one-on-one trainer who can customize each session to meet your fitness goals.
            </p>
        </div>
    </div>
</section>
<section class="home-section3">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h4 class="home-section3-h1">Its time to put yourself first</h4>
            <p class="home-section3-p1">
                Nunc a sagittis elit, eget vehicula ligula. Etiam consequat tristique metus, maximus condimentum tellus
                varius nec. Nullam eget urna eu risus condimentum semper. Donec dictum felis ut efficitur aliquam. Curabitur
                sollicitudin ligula sit amet euismod imperdiet. Etiam lobortis vitae turpis euismod gravida. Integer sit amet
                lectus nec mauris ullamcorper faucibus. Cras magna turpis, varius vel vestibulum id, aliquam ac felis.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque
                vel finibus odio. Nulla maximus metus accumsan enim auctor consectetur. Integer a magna eget ipsum tincidunt
                congue a vel ex. Pellentesque vulputate, mauris fermentum finibus lobortis, orci dui dignissim elit, consectetur
                viverra lssccscigula justo non est. Nam fringilla dictum nibh eu lacinia.
            </p>
           
            @Html.ActionLink("About Us", "About", "Home", null, new { @class = "smooth-scroll btn btn-outline-light mt-4 home-section3-btn1" })
        </div>
    </div>
</section>
<section class="home-section4">
    <div class="da-section da-work bg-secondary" id="learn">
        <div class="container">
            <div class="row home-section4-text">
                <div class="col-md-12 col-lg-12">
                    <h3 class="home-section4-h1">WHAT WE DO</h3>
                    <p class="home-section4-p1">
                        Aliquam scelerisque ex vitae arcu feugiat condimentum. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                        Nullam porttitor id nunc eget consequat. Proin egestas fringilla vulputate. Phasellus eu augue ut dolor porta finibus.
                        Interdum et malesuada fames ac ante ipsum primis in faucibus.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-6 card-center">
                    <div class="card home-section4-card1" data-aos="flip-left">
                        <div class="card-body text-center">
                            <img src="~/Images/offline.png" height="200px" width="300px" />
                            <h4 class="card-h1">One to One Training</h4>
                            <p class="card-p1">Lorem ipsum dolor sit amet consectetur adipiscing elit primis rutrum, nullam tempor malesuada laoreet tempus blandit pretium etc.</p>
                           
                            @Html.ActionLink("Click Here", "Trainer", "Home", null, new { @class = "smooth-scroll btn btn-outline-light mt-4 home-section1-btn1" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 card-center">
                    <div class="card home-section4-card1" data-aos="flip-left">
                        <div class="card-body text-center">
                            <img src="~/Images/virtual.jpg" height="200px" width="300px" />
                            <h4 class="card-h1">Virtual Training</h4>
                            <p class="card-p1">Lorem ipsum dolor sit amet consectetur adipiscing elit primis rutrum, nullam tempor malesuada @*laoreet tempus blandit pretium etc.</p>*@
                           
                            @Html.ActionLink("Click Here", "Trainer", "Home", null, new { @class = "smooth-scroll btn btn-outline-light mt-4 home-section1-btn1" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="home-section5">
    <div class="container">
        <div class="col-lg-12 col-sm-12 px-0 mx-0 home-section5-text">
            <h4 class="text-uppercase home-section5-h1">Are you a personal trainer looking to grow your client base?</h4>
            <h5 class="home-section5-h2">Apply to work with new clients</h5>
            <a class="smooth-scroll btn btn-outline-light mt-4 home-section5-btn1" href="mailto:jarinsama1@gmail.com">Drop Your Resume</a>
            @*@Html.ActionLink("Start Here", "Trainer", "Home", null, new { @class = "smooth-scroll btn btn-outline-light mt-4 home-section5-btn1" })*@
        </div>
    </div>
</section>

