
@{
    ViewBag.Title = "TrainerApply";
}
<section class="home-section5">
    <div class="container">
        <div class="col-lg-12 col-sm-12 px-0 mx-0 home-section5-text">
            <h4 class="text-uppercase home-section5-h1">Are you a personal trainer looking to grow your client base?</h4>
            <h5 class="home-section5-h2">Apply to work with new clients</h5>
            <a class="smooth-scroll btn btn-outline-light mt-4 home-section5-btn1" href="mailto:jarinsama1@gmail.com">Drop Your Resume</a>
            @*@Html.ActionLink("Start Here", "Trainer", "Home", null, new { @class = "smooth-scroll btn btn-outline-light mt-4 home-section5-btn1" })*@
        </div>
    </div>
</section>

